
body{
  background-color : 80FE95;
font-family: 'EB Garamond', serif;
}
h1{
  color: 408BA6;
}
p{
  color: blue;
}


table, th, td, tr {
  border: 3px solid red;
  margin: 20;

}


.description {

  padding: 20 px;
}
